@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/fonts" as *;

.score-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $Octo-Purple-Mid;
  padding: 1rem;
}

.score-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $Octo-Purple-Mid;
}

.score-number-container {
  background-color: $Octo-Green;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  aspect-ratio: 1;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.pulse-animate {
  @keyframes pulse-on-load {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    30% {
      transform: scale(1.1);
      opacity: 1;
    }
    70% {
      transform: scale(0.95);
      opacity: 1;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

  animation: pulse-on-load 0.6s ease-in-out;
  animation-iteration-count: 1;
}

.score-number {
  background-color: rgba(0, 0, 0, 0);
  font-size: 13rem;
  color: $Octo-Purple-Mid;
  margin: 0;
}

.score-text {
  font-size: 2.5rem;
  color: $Octo-Green;
  margin: 0;
  background-color: $Octo-Purple-Mid;
  font-weight: 800;
  text-align: center;

  @include desktop {
    font-size: 4rem;
  }
}

.score-sub-text {
  background-color: $Octo-Purple-Mid;
  color: $Octo-Grey;
  font-size: 1rem;
  margin: 0 0 2rem 0;
  font-weight: 200;
  text-align: center;

  @include tablet {
    font-size: 1.4rem;
  }
  @include desktop {
    font-size: 2rem;
  }
}

.greener-days {
  background-color: $Octo-Purple-Mid;
  color: $Octo-Grey;
  font-weight: 800;
  transition: 0.4s ease-in-out;
  font-size: 1rem;

  &:hover {
    color: $Octo-Green;
    cursor: pointer;
  }

  @include tablet {
    font-size: 1.4rem;
  }
  @include desktop {
    font-size: 2rem;
  }
}

.greenness-score-text {
  color: $Octo-Green;
  margin: 0;
  background-color: $Octo-Purple-Mid;
  font-weight: 800;
  font-size: 1rem;

  @include tablet {
    font-size: 1.4rem;
  }
  @include desktop {
    font-size: 2rem;
  }
}

.score-img {
  max-width: 300px;

  @include tablet {
    max-width: 600px;
    margin: 5rem 0 8rem 0;
  }
}
