h1 {
  color: #fff;
}

.leaderboard__container {
  display: flex;
  align-items: center;
}

.list__group {
  cursor: pointer;
  outline: 0;
  color: #ffffff;
  font-size: 18px;
  padding: 7px 10px;
  min-width: 60px;
  font-weight: bold;
  border-radius: 17px;
  border: 0px solid #d6d6d6;
  background-color: #ffffff00;
}

.selectbox:hover,
.selectbox:focus {
  background-color: #ffffff;
  color: #000000;
  border: 0px solid #a9a9a9;
}
