// 1 BREAKPOINTS
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

// 2 CREATE COLOR VARIABLES

// 1 PRIMARY COLORS
$Octo-Purple-Dark: #100030;
$Octo-Purple-Mid: #180048;
$Octo-Purple-Light: #5840ff;

// 2 SECONDARY COLOR
$Octo-Blue-Dark: #00c5f5;
$Octo-Blue-Med: #60f0f8;
$Octo-Blue-Light: #bdf2ff;

$Octo-White: #ffffff;
$Octo-Grey: #decae2;

// 3 Octopus color
$Octo-Pink-Dark: #ff48d8;

// 4 Octo mini colors
$Octo-Pink-Med: #f266f9;
$Octo-Pink-Light: #f484fa;

// 5 Trafficlight
$Octo-Green: #10c395;
$Octo-Amber: #ffd84f;
$Octo-Red: #ff3131;
