@use "../../styles/partials/variables" as *;

.ranks__container {
  background-color: #180048;
  padding-bottom: 40px;
}

.ranking__container {
  background-color: #180048;
  width: 560px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.rankings {
  background-color: #100030;
  padding: 12px 100px;
  border: 5px solid #3d1972;
  border-radius: 70px 70px 70px 70px;
}

.rankings p {
  padding: 0;
  margin: 0;
  color: $Octo-Grey;
  word-spacing: 5px;
  text-align: center;
}

.ranks {
  background-color: #100030;
  border: 5px solid #3d1972;
  border-radius: 70px 70px 70px 70px;
  padding: 11px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.score__number-container {
  background-color: $Octo-Green;
  width: 60px;
  height: 60px;
  border-radius: 70px;
}

.score__number-container h2 {
  background-color: #1fe0;
  color: $Octo-Purple-Dark;
  text-align: center;
  margin-top: 16px;
}

.user {
  margin: 0;
}

.user h2,
p {
  color: #fff;
  margin: 3px;
}

.national__rank {
  display: flex;
  justify-content: center;
  align-items: center;
}

.national__rank p {
  color: #f304cb;
  font-size: 2rem;
  margin: 0;
}

.rank__icon {
  width: 65px;
  margin: 0;
  padding: 0;
}
