@use "./styles/partials/variables" as *;
@use "./styles/partials/fonts" as *;

* {
  background-color: $Octo-Purple-Dark;
  font-family: Arial, Helvetica, sans-serif;
}

.page-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100vh;
}

main {
  flex: 1;
}
